@layer layout {
    .cluster--xs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cluster--sm {
        display: flex;
        flex-direction:column;
        gap: var(--gap-cluster-sm);
    }

    .cluster--md {
        display: flex;
        flex-direction:column;
        gap: var(--gap-cluster-md);
    }
}