@layer layout {
    .cluster {
        display: flex;
        flex-direction: row;
        gap: var(--gap-cluster);
    }
    
    .cluster--xs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cluster--md {
        display: flex;
        flex-direction:column;
        justify-content: center;
        gap: var(--gap-cluster-md);
    }

    .cluster--2md {
        display: flex;
        flex-direction:column;
        gap: var(--gap-cluster-2md);
    }

    .cluster--2xs {
        display: flex;
        flex-direction: column;
        gap: var(--gap-cluster-2xs);

    }
}