@layer layout {
    .grid--xl {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap-grid-xl);
    }

    .grid--md {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap-grid-md);
    }
}