@layer components {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-icon {
    inline-size: var(--sizing-icon-inline);
    block-size: var(--sizing-icon-block);
  }

  .logo-button {
    color: var(--bg-site-logo);
    
  }

  .menu-button {
    color: var(--bg-menu-mobile);
  }

  .close-button-menu {
    border-radius: 50%;
    color: var(--bg-close-icon);
    justify-self: end;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .desktop-navigation {
    display: none;
  }

  .mobile-navigation {
    block-size: 100%;
  }

  .mobile-menu::backdrop {
    background-color: rgb(0 0 0 / 0.5);
  }

  .mobile-menu[open] {
    display: block;
  }

  .mobile-menu-content {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
    inline-size: min(70vw, var(--sizing-inline-mobile-menu));
    transform: translate3d(100%, 0, 0);
    transition: transform 350ms ease-out;
  }

  .mobile-menu .mobile-menu-content {
    block-size: 100vh;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    padding-block-start: var(--padding-block-menu-mobile);
    padding-inline-start: var(--padding-inline-menu-mobile-start);
    padding-inline-end: var(--padding-inline-menu-mobile-end);
    background: var(--bg-menu);
    
  }

  .mobile-menu[open].animate .mobile-menu-content {
    transform: translate3d(0, 0, 0);
  }

  .navigation-list a,
  .desktop-navigation a {
    color: var(--fc-menu-links);
    font-size: var(--fs-menu-links);
    line-height: var(--lh-menu-links);
    font-weight: var(--fw-menu-links);
  }

  .mobile-menu .navigation-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap-navigation-list);
    margin-block-start: var(--margin-block-start-navigation-list);
  }

  @media (min-width: 64em) {
    .menu-button {
      display: none;
    }

    .mobile-menu {
      display: none;
    }

    .desktop-navigation {
      display: block;
    }

    .desktop-navigation .navigation-list {
      display: flex;
      flex-direction: row;
      gap: var(--gap-navigation-list);
      margin-block-start: 0;
    }
  }

  @supports (block-size: 100dvh) {
    .mobile-menu-content {
      block-size: 100dvh;
    }
  }
}
