@layer tokens.semantics {
    :root {
        --bg-primary: var(--white);

        --bg-menu: var(--white);

        --fc-hero-title: var(--navy-950);
        --fc-hero-body: var(--navy-600);

        --bg-button: var(--red-500);
        --fc-button: var(--navy-950);
        --bg-button-hover: var(--black);
        --fc-button-hover: var(--white);

        --bg-news-section: var(--black);
        --fc-news-title: var(--gold-400);
        --fc-news-title-article: var(--white);
        --fc-news-title-article-hover: var(--gold-400);
        --fc-news-body-article: var(--grey-300);

        --fc-article-number: var(--red-500);
        --fc-article-title: var(--navy-950);
        --fc-article-title-hover: var(--red-500);
        --fc-article-body: var(--navy-600);

        --fc-menu-links: var(--navy-950);
        --fc-menu-links-hover: var(--red-500);
    }

    @media(min-width: 64em){
        :root {
            --fc-menu-links: var(--navy-600);
        }
    }
}