@layer tokens.semantics {
    :root {
        --gap-cluster-sm: var(--spacing-400);
        --gap-cluster-md: var(--spacing-300);
        --gap-grid-xl: var(--spacing-800);
        --gap-grid-md: var(--spacing-300);
    }
}