@layer tokens.semantics {
    :root {
        --font-family-base: var(--inter-family);

        --fs-hero-title: var(--fs-2);
        --lh-hero-title: var(--lh-2);
        --fw-hero-title: var(--fw-extrabold);

        --fs-hero-body: var(--fs-6);
        --lh-hero-body: var(--lh-5);
        --fw-hero-body: var(--fw-regular);

        --fs-button: var(--fs-7);
        --lh-button: var(--lh-4);
        --fw-button: var(--fw-bold);
        --ls-button: var(--letter-spacing-7);

        --fs-news-title: var(--fs-3);
        --lh-news-title: var(--lh-3);
        --fw-news-title: var(--fw-bold);

        --fs-news-card-title: var(--fs-4);
        --lh-news-card-title: var(--lh-4);
        --fw-news-card-title: var(--fw-extrabold);

        --fs-news-card-body: var(--fs-6);
        --lh-news-card-body: var(--lh-5);
        --fw-news-card-body: var(--fw-regular);
    }
}