@layer base {
    html {
        font-family: var(--font-family-base);
        background-color: var(--bg-primary);
        -webkit-text-size-adjust: 100%;
    }

    html,
    body {
        min-block-size: 100vh;
        display: flex;
        flex-direction: column;
    }

    @supports (min-block-size: 100dvh) {
        html,
        body {
            min-block-size: 100dvh;
        }
    }
}